.container {
    margin: auto;
    text-align: center;
    height: 100%;
    width: 80%;
    background-color: blanchedalmond;
}

.loading{
    height: 200px;
    text-align: center;
    color: red;
    font-size: 30px;
}

.fetch-data-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
